params {
    // Input data
    fastq_dir               = "${projectDir}/data"
    samplesheet_csv         = "${projectDir}/samplesheet.csv"  
    matching_column         = 'sample_id'

    // aligned mutliple reference
    multi_ref_file          = "${projectDir}/primerschemes/genotype_reference_sequences.align.fasta"

    // pipeline running parameters
    normalize               = 200
    
    // Output directory
    outDir                  = "$projectDir/Results"

    // Primer scheme parameters
    scheme_directory        = "${projectDir}/primerschemes"
    scheme_name             = 'hbv-600'
    scheme_version          = 'V2.1.0L'
    medaka_model            = 'r1041_e82_400bps_hac_v4.3.0'
}
