/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A custome user profile for pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run the nextflow pipeline

    Use as follows:
        nextflow run main.nf -profile hbv,slurm -resume
----------------------------------------------------------------------------------------
*/

params {
    fastq_dir       = "${projectDir}/data"
    outdir          = "${projectDir}/RESULT_TEST"
    samplesheet_csv = "${projectDir}/samplesheet.csv" 
}
