/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// Optional configuration options
//

process {
    withName: 'GENERATE_SAMPLESHEET' {
        publishDir = [
                path: { "${params.outdir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{csv}"
            ]
    }

    withName: 'ARTIC_MINION' {
            ext.args =  [ ].join(' ').trim()

            publishDir = [
                [
                    path: { "${params.outdir}/depths" },
                    mode: params.publish_dir_mode,
                    pattern: "*.{depths.png}"
                ],
                [
                    path: { "${params.outdir}/consensus" },
                    mode: params.publish_dir_mode,
                    pattern: "*.{consensus.fasta}"
                ],
                [
                    path: { "${params.outdir}/bams" },
                    mode: params.publish_dir_mode,
                    pattern: "*.{primertrimmed.rg.sorted.bam,primertrimmed.rg.sorted.bam.bai}"
                ],
                [
                    path: { "${params.outdir}/vcf" },
                    mode: params.publish_dir_mode,
                    pattern: "*.{vcf}"
                ]
            ]
        }

    withName: 'ASSEMBLY_STATS' {
            publishDir = [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                pattern: "*.{tsv}"
            ]
        }
}
