params {
    config_profile_name        = 'slurm.config'
    config_profile_description = 'Slurm config file'
}

executor {
    name            = 'slurm'
    queueSize       = 6
    submitRateLimit = '1/10sec'
    queue           = 'highmem'
}

process {
    resourceLimits = [
        memory: 256.GB,
        cpus  : 20,
        time  : 48.h
    ]

    maxForks          = 6
    queueStatInterval = '1 min'
    maxRetries        = 3
    errorStrategy     = { task.attempt <= 3 ? "retry" : "finish" }
    cache             = 'lenient'
    exitStatusReadTimeoutMillis = '600000'
}
